# Environments
.env
.env.local
.env.*.local

# Python
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/staticfiles/
backend/db.sqlite3
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# System
.DS_Store
Thumbs.db
